.App {
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
}

.quiz {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.quiz-title {
  font-family: 'Roboto Slab', serif;
}

.quiz-question {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: 10px;
  background-color: #009688;
}

.quiz-answer {
  background-color: rgb(221,244,251);
  padding: 10px;
  margin: 0px;
}
